Repository joelcapitao/bootc-base-image-konflux: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-43-standard-on-push, fedora-bootc-43-standard-renovate-on-push, fedora-bootc-rawhide-minimal-on-push

fedora-bootc-43-minimal-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
  ...

fedora-bootc-43-standard-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
    value: true
  - name: build-args
    value:
  ...

fedora-bootc-43-standard-renovate-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
  ...

fedora-bootc-rawhide-minimal-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
  ...

add description
  renovate.json
Due: none

Update Fedora Rawhide bootc pipeline to 2678dd5
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora 43 REPOS_IMAGE to Fedora-43-updates-20260212.0
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: fedora-bootc-43-standard-on-push, fedora-bootc-43-standard-renovate-on-push

apply real config
  renovate.json
Due: none

Update Fedora Rawhide REPOS_IMAGE to Fedora-Rawhide-20260213.n.0
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora 43 REPOS_IMAGE to Fedora-43-updates-20260213.0
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: fedora-bootc-43-standard-on-push, fedora-bootc-43-standard-renovate-on-push

test with option to always rebase
  renovate.json
Due: none

ignore minimal repos_image update
  renovate.json
Due: none

Update Fedora 43 REPOS_IMAGE to Fedora-43-updates-20260219.0
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: fedora-bootc-43-standard-on-push, fedora-bootc-43-standard-renovate-on-push

Update Fedora Rawhide REPOS_IMAGE to Fedora-Rawhide-20260218.n.0
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: none

Update Fedora Rawhide REPOS_IMAGE to Fedora-Rawhide-20260218.n.0
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora Rawhide REPOS_IMAGE to Fedora-Rawhide-20260218.n.0
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

wip r-c-c
  build-args-c10s.conf
  renovate.json
Due: none

Update CentOS Stream CoreOS 10 bump bootc to 00a452f
  build-args-c10s.conf
Due: none

Update CentOS Stream 10 bootc base container image to 00a452f
  build-args-c10s.conf
Due: none

Migrate config renovate.json
  renovate.json
Due: none

wip r-c-c
  build-args-c10s.conf
  build-args-c9s.conf
  build-args-rhel-10.2.conf
  build-args-rhel-9.8.conf
  renovate.json
Due: none

Update bootc updates
  build-args-c10s.conf
  build-args-c9s.conf
Due: none

Update bootc base container images
  build-args-c10s.conf
  build-args-c9s.conf
Due: none

Path conditions:
  fedora-bootc-43-minimal-on-pull-request: ((((((any of: .tekton/fedora-bootc-43-minimal-pull-request.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)
  fedora-bootc-43-standard-on-push: ((((((((((any of: .tekton/fedora-bootc-43-standard-push.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)) or (any of: minimal-plus.hidden.yaml)) or (any of: minimal-plus/***)) or (any of: standard.yaml)) or (any of: standard/***)
  fedora-bootc-43-standard-renovate-on-push: ((((((((((any of: .tekton/fedora-bootc-43-standard-renovate-push.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)) or (any of: minimal-plus.hidden.yaml)) or (any of: minimal-plus/***)) or (any of: standard.yaml)) or (any of: standard/***)
  fedora-bootc-rawhide-minimal-on-push: ((((((any of: .tekton/fedora-bootc-rawhide-minimal-push.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)
