Repository joelcapitao/bootc-base-image-konflux: changes, and which Tekton pipelines are due for each by the changed paths.
All: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

fedora-bootc-43-minimal-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
  ...

fedora-bootc-rawhide-minimal-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-platforms
    value:
    - linux/amd64
    - linux/arm64
    - linux/ppc64le
    - linux/s390x
  - name: dockerfile
    value: Containerfile
  - name: path-context
    value: .
  - name: privileged-nested
  ...

Konflux Fedora update fedora-bootc-42-minimal
  .tekton/fedora-bootc-42-minimal-pull-request.yaml
  .tekton/fedora-bootc-42-minimal-push.yaml
Due: none

Konflux Fedora update fedora-bootc-42-standard
  .tekton/fedora-bootc-42-standard-pull-request.yaml
  .tekton/fedora-bootc-42-standard-push.yaml
Due: none

obsolete code
  renovate.json
Due: none

Do not rebase
  renovate.json
Due: none

Refactor Renovate configuration to group dependency updates by Fedora release
  renovate.json
Due: none

apply same config
  renovate.json
Due: none

add containerfile
  Containerfile
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

all in one application
  .tekton/fedora-bootc-42-minimal-pull-request.yaml
  .tekton/fedora-bootc-42-minimal-push.yaml
  .tekton/fedora-bootc-42-minimal-renovate-push.yaml
  .tekton/fedora-bootc-42-standard-pull-request.yaml
  .tekton/fedora-bootc-42-standard-push.yaml
  .tekton/fedora-bootc-42-standard-renovate-push.yaml
  .tekton/fedora-bootc-43-minimal-pull-request.yaml
  .tekton/fedora-bootc-43-minimal-push.yaml
  .tekton/fedora-bootc-43-minimal-renovate-push.yaml
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

remove 42
  .tekton/fedora-bootc-42-minimal-pull-request.yaml
  .tekton/fedora-bootc-42-minimal-push.yaml
  .tekton/fedora-bootc-42-minimal-renovate-push.yaml
  .tekton/fedora-bootc-42-standard-pull-request.yaml
  .tekton/fedora-bootc-42-standard-push.yaml
  .tekton/fedora-bootc-42-standard-renovate-push.yaml
Due: none

Set right quay repo
  .tekton/fedora-bootc-43-minimal-pull-request.yaml
  .tekton/fedora-bootc-43-minimal-push.yaml
  .tekton/fedora-bootc-43-minimal-renovate-push.yaml
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

Konflux Fedora update fedora-bootc-43-standard
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
Due: none

Konflux Fedora update fedora-bootc-rawhide-minimal
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Konflux Fedora update fedora-bootc-rawhide-standard
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
Due: none

add sa
  .tekton/fedora-bootc-43-minimal-pull-request.yaml
  .tekton/fedora-bootc-43-minimal-push.yaml
  .tekton/fedora-bootc-43-minimal-renovate-push.yaml
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

x86 only
  .tekton/fedora-bootc-43-minimal-pull-request.yaml
  .tekton/fedora-bootc-43-minimal-push.yaml
  .tekton/fedora-bootc-43-minimal-renovate-push.yaml
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

edit containerfile
  Containerfile
Due: fedora-bootc-43-minimal-on-pull-request, fedora-bootc-rawhide-minimal-on-push

remove 43-minimal
  .tekton/fedora-bootc-43-minimal-pull-request.yaml
  .tekton/fedora-bootc-43-minimal-push.yaml
  .tekton/fedora-bootc-43-minimal-renovate-push.yaml
Due: fedora-bootc-43-minimal-on-pull-request

skip tests
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

update renovate config
  renovate.json
Due: none

test new renovate config
  renovate.json
Due: none

add custom manager back
  renovate.json
Due: none

Update Fedora 43 dependencies to Fedora-43-updates-20260212.0
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: none

Update Fedora rawhide dependencies
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

only run pipeline update nightly
  renovate.json
Due: none

Update Fedora 43 dependencies
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: none

separate tekton and REPOS_IMAGE updates
  renovate.json
Due: none

Update Fedora 43 REPOS_IMAGE to Fedora-43-updates-20260212.0
  .tekton/fedora-bootc-43-standard-pull-request.yaml
  .tekton/fedora-bootc-43-standard-push.yaml
  .tekton/fedora-bootc-43-standard-renovate-push.yaml
Due: none

Update Fedora rawhide REPOS_IMAGE to Fedora-Rawhide-20260212.n.0
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora rawhide tekton-catalog to 2678dd5
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora Rawhide bootc pipeline to 2678dd5
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Update Fedora Rawhide REPOS_IMAGE to Fedora-Rawhide-20260212.n.0
  .tekton/fedora-bootc-rawhide-minimal-pull-request.yaml
  .tekton/fedora-bootc-rawhide-minimal-push.yaml
  .tekton/fedora-bootc-rawhide-minimal-renovate-push.yaml
  .tekton/fedora-bootc-rawhide-standard-pull-request.yaml
  .tekton/fedora-bootc-rawhide-standard-push.yaml
  .tekton/fedora-bootc-rawhide-standard-renovate-push.yaml
Due: fedora-bootc-rawhide-minimal-on-push

Path conditions:
  fedora-bootc-43-minimal-on-pull-request: ((((((any of: .tekton/fedora-bootc-43-minimal-pull-request.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)
  fedora-bootc-rawhide-minimal-on-push: ((((((any of: .tekton/fedora-bootc-rawhide-minimal-push.yaml) or (any of: Containerfile)) or (any of: bootc-base-imagectl)) or (any of: install-manifests)) or (any of: fedora-includes/generic.yaml)) or (any of: minimal.yaml)) or (any of: minimal/***)
